body {
  background: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#book-wrapper {
  width: 90vw;
  max-width: 1000px;
  height: 90vh;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.25);
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

#flipbook {
  width: 100%;
  height: 100%;
}

.page {
  background: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page embed {
  width: 100%;
  height: 100%;
  border: none;
}
